<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="venmurasuwebApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="MainCtrl">    
     <div class="page-header">
      <h1>வெண்முரசு <small> ஜெயமோகன்</small></h1>
    </div>
    <div class="row">
      <div class="col-md-12">           
        <div class="btn-group" ng-repeat="novel in novelsWithSections">
          <button type="button" class="btn btn-success" ng-click="fetchAllEpisodes(novel.novel)">{{novel.novel.name}}</button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="fetchAllEpisodes(novel.novel)">எல்லா அத்தியாயங்களும்</a></li>
            <li><a href="#" ng-repeat="section in novel.sections" ng-click="fetchEpisodes(section)">{{section.id}}. {{section.name}}</a></li>
          </ul>
        </div>

        <div class="btn-group" ng-show="allTags">
          <button type="button" class="btn btn-success">குறிச்சொற்கள்</button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="fetchByTag(tag)" ng-repeat="tag in allTags">{{tag}}</a></li>          
          </ul>
        </div>  

        <div class="btn-group" ng-show="episodes.length > 1">
          <button type="button" class="btn btn-success">வரிசை</button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="orderEpisodes('a')">அ  -  ஃ</a></li>
            <li><a href="#" ng-click="orderEpisodes('d')">ஃ  -  அ</a></li>
          </ul>
        </div>    

        <div class="btn-group" ng-show="episodes">
          <button type="button" class="btn btn-success">பிற</button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="clearEpisodes()">Clear</a></li>
            <li><a href="#" ng-click="fetchLatestEpisode()">புதிய அத்தியாயம்</a></li>
          </ul>
        </div>                


          <div class="alert alert-success alert-dismissable" ng-show="message">
            {{message}}
          </div>

          <div class="episodes" ng-show="episodes">
           <div class="col-sm-6 col-md-4" ng-repeat="episode in episodes">
              <div class="thumbnail">
                <img src="{{episode.image}}" alt="...">
                <div class="caption">
                  <p>{{episode.novelname}} - {{episode.chapter}}</p>
                  <p>{{episode.sectionname}}</p>
                  <p><a href="{{episode.url}}" target="_blank" class="btn btn-primary" role="button">கதை</a> <a href="{{episode.image}}" target="_blank" class="btn btn-default" role="button">படம்</a></p>
                </div>
              </div>
            </div>        
          </div>  
      </div>
    </div>  

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/linqjs/linq.js"></script>
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
