<div class="alert alert-primary" ng-show="message">
  {{message}}
</div>


<h4>நாவல் : {{episode.novelname}}</h4>
<h5>பகுதி : {{episode.sectionname}}</h5>
<p>அத்தியாயம் : {{episode.chapter}}</p>
<p>குறிச்சொற்கள் : {{episode.tags}}</p>
<img ng-src="{{episode.image}}" alt="..." width="100%">

<!--

<div class="episodes">
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img ng-src="{{episode.image}}" alt="...">
      <div class="caption">
        <p>{{episode.novelname}} - {{episode.chapter}}</p>
        <p>{{episode.sectionname}}</p>
        <p><a href="{{episode.url}}" target="_blank" class="btn btn-primary" role="button">கதை</a> <a href="{{episode.image}}" target="_blank" class="btn btn-default" role="button">படம்</a></p>
      </div>
    </div>
  </div>        
</div> 

-->


<!-- Disqus -->
 <dir-disqus disqus-shortname="neotamizhan"
        disqus-identifier="novel:{{ episode.novelno }};chapter:{{episode.chapter}}"
        disqus-url="{{url}}"
        ready-to-bind="{{ contentLoaded }}">
 </dir-disqus>