<div class="alert alert-primary" ng-show="message">
  {{message}}
</div>


<h4>நாவல் : {{episode.novelname}}</h4>
<h5>பகுதி : {{episode.sectionname}}</h5>
<p>அத்தியாயம் : {{episode.chapter}}</p>
<p>குறிச்சொற்கள் : {{episode.tags}}</p>
<img ng-src="{{episode.image}}" alt="..." width="100%">

<!--

<div class="episodes">
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img ng-src="{{episode.image}}" alt="...">
      <div class="caption">
        <p>{{episode.novelname}} - {{episode.chapter}}</p>
        <p>{{episode.sectionname}}</p>
        <p><a href="{{episode.url}}" target="_blank" class="btn btn-primary" role="button">கதை</a> <a href="{{episode.image}}" target="_blank" class="btn btn-default" role="button">படம்</a></p>
      </div>
    </div>
  </div>        
</div> 

-->


<!-- Disqus -->

<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'neotamizhan'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
