<div class="alert alert-primary" ng-show="message">
  {{message}}
</div>


<div class="episodes" ng-show="episodes">
 <div class="col-sm-6 col-md-4" ng-repeat="episode in episodes">
    <div class="thumbnail">
      <a href="#/novel/{{episode.novelno}}/chapter/{{episode.chapter}}"><img ng-src="{{episode.image}}" alt="..."></a>
      <div class="caption">
        <p>{{episode.novelname}} - {{episode.chapter}}</p>
        <p>{{episode.sectionname}}</p>
        <p><a href="{{episode.url}}" target="_blank" class="btn btn-primary" role="button">கதை</a> <a href="{{episode.image}}" target="_blank" class="btn btn-default" role="button">படம்</a></p>
      </div>
    </div>
  </div>        
</div> 